* {
  box-sizing: border-box;
}

body {
  margin: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  max-width: 1128px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.044);
}
